Huge:before {
  content: 'Huge';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


LARGE:before {
  content: 'LARGE';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


Large:before {
  content: 'Large';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


alt:before {
  content: 'alt';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


blackboardBold:before {
  content: 'blackboardBold';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


bold:before {
  content: 'bold';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


boldsymbol:before {
  content: 'boldsymbol';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


calligraphic:before {
  content: 'calligraphic';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


descriptionLabel:before {
  content: 'descriptionLabel';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


drop:before {
  content: 'drop';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


emphasized:before {
  content: 'emphasized';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


footnotesize:before {
  content: 'footnotesize';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


fraktur:before {
  content: 'fraktur';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


huge:before {
  content: 'huge';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


italics:before {
  content: 'italics';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


large:before {
  content: 'large';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


lower:before {
  content: 'lower';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


ltxframe:before {
  content: 'ltxframe';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


normalsize:before {
  content: 'normalsize';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


phantom:before {
  content: 'phantom';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


roman:before {
  content: 'roman';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


rtl:before {
  content: 'rtl';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


sansSerif:before {
  content: 'sansSerif';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


scriptsize:before {
  content: 'scriptsize';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


slanted:before {
  content: 'slanted';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


small:before {
  content: 'small';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


smallCaps:before {
  content: 'smallCaps';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


smallbox:before {
  content: 'smallbox';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


sub:before {
  content: 'sub';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


sup:before {
  content: 'sup';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


tiny:before {
  content: 'tiny';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


typewriter:before {
  content: 'typewriter';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


underline:before {
  content: 'underline';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


upper:before {
  content: 'upper';
  font: bold small sans-serif;
  background-color: yellow;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


bodyMath:before {
  content: 'bodyMath';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


bodyText:before {
  content: 'bodyText';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


centered:before {
  content: 'centered';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


flushleft:before {
  content: 'flushleft';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


flushright:before {
  content: 'flushright';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


p:before {
  content: 'p';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


rtlBodyText:before {
  content: 'rtlBodyText';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


sectiontitle:before {
  content: 'sectiontitle';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


shortQuote:before {
  content: 'shortQuote';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


verbatim:before {
  content: 'verbatim';
  background-color: rgb(255,200,200);
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


bibitem:before {
  content: 'bibitem';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


bulletListItem:before {
  content: 'bulletListItem';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


descriptionListItem:before {
  content: 'descriptionListItem';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


numberedListItem:before {
  content: 'numberedListItem';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


chapter:before {
  content: 'chapter';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


paragraph:before {
  content: 'paragraph';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


part:before {
  content: 'part';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


section:before {
  content: 'section';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


subparagraph:before {
  content: 'subparagraph';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


subsection:before {
  content: 'subsection';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


subsubsection:before {
  content: 'subsubsection';
  color: green;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


algorithm:before {
  content: 'algorithm';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


assertion:before {
  content: 'assertion';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


assumption:before {
  content: 'assumption';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


axiom:before {
  content: 'axiom';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


case:before {
  content: 'case';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


centeredEnv:before {
  content: 'centeredEnv';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


claim:before {
  content: 'claim';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


conclusion:before {
  content: 'conclusion';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


condition:before {
  content: 'condition';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


conjecture:before {
  content: 'conjecture';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


corollary:before {
  content: 'corollary';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


criterion:before {
  content: 'criterion';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


dedication:before {
  content: 'dedication';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


definition:before {
  content: 'definition';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


example:before {
  content: 'example';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


exercise:before {
  content: 'exercise';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


glossary:before {
  content: 'glossary';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


hypothesis:before {
  content: 'hypothesis';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


lemma:before {
  content: 'lemma';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


longQuotation:before {
  content: 'longQuotation';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


msiframe:before {
  content: 'msiframe';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


notation:before {
  content: 'notation';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


note:before {
  content: 'note';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


preface:before {
  content: 'preface';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


problem:before {
  content: 'problem';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


proof:before {
  content: 'proof';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


property:before {
  content: 'property';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


proposition:before {
  content: 'proposition';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


question:before {
  content: 'question';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


remark:before {
  content: 'remark';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


solution:before {
  content: 'solution';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


summary:before {
  content: 'summary';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


theorem:before {
  content: 'theorem';
  color: teal;
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


abstract:before {
  content: 'abstract';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


author:before {
  content: 'author';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


date:before {
  content: 'date';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


title:before {
  content: 'title';
  background-color: silver;
  font: bold small sans-serif;
  border: thin solid black;
  padding: 2px;
  -moz-border-radius: 4px;
}


